<div class="container-fluid nav-style">

  <div class="nav-left">
    <a href="/">
      <img class="logo" src="/images/logo.png" alt="logo" />
    </a>
    <a href="/" class="nav-heading">Home</a>
    <a href="/movies" class="nav-heading">Movies</a>
  </div>

  <div class="nav-middle">
  </div>

  <div class="nav-right">
    <div class="search-box">
      <input class="input-box"type="text" name="" placeholder="" />
      <img class="search-img" src="/images/search.png" alt="search" />
    </div>
  </div>

</div>

<h2>Add New Movie</h2>

<form action="/create-the-movie" method="POST">

  <p>Title</p>
  <input type="text" name="newMovieTitle">

  <p>Director</p>
  <input type="text" name="newMovieDirector">

  <p>Image URL</p>
  <input type="text" name="img">

  <button>Save!</button>

</form>