<h2>Add New Book</h2>

<form action="/create-the-movie" method="POST">

  <p>Title</p>
  <input type="text" name="newMovieTitle">

  <p>Director</p>
  <input type="text" name="newMovieDirector">

  <p>Image URL</p>
  <input type="text" name="img">

  <button>Save!</button>

</form>